<!DOCTYPE html>

{% set css_file = url_for('static', filename='main.css') %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ css_file }}">
    <title>{% block title %} {% endblock %}</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">

        const fetchData = () => {
            fetch('/parked', {
                            method: 'GET',
                            mode: 'no-cors',
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
            }).then(response => response.json()).then(response => {
                let parked = response.parked;
                let no_parked = response.no_parked;
                console.log(response);
                {#console.log(parked);#}
                {#console.log(no_parked);#}

                updateLayout(parked);
            }).catch(error => console.log(error));
        };

        const updateLayout = cars => {

            var p = document.getElementById("counter-text");
            p.setAttribute("text", "Parked right now" + cars.length)

            var ul = document.createElement('ul');
            ul.setAttribute('id','carList');

            cars = cars.map(car => car.license + '-' + car.parked + '-' + car.place_id);

            var t, tt;

            document.getElementById('parked').innerHTML = '';
            document.getElementById('parked').appendChild(ul);
            cars.forEach(renderCarList);

            function renderCarList(element, index, arr) {
                var li = document.createElement('li');

                ul.appendChild(li);

                t = document.createTextNode(element);

                li.innerHTML=li.innerHTML + element;
            }
        }

        setInterval(fetchData, 2000);
    </script>

</head>
<body>

    <div id="header">
        <div id="title">
            Lorem Ipsum
        </div>
        <div id="counter">
            <p id="counter-text">Parked right now: {{ no_parked }}</p>
        </div>
    </div>


    <div id="container">
        <div id="below-header">
            <form action="/reset" method="get">
                <button id="reset"> Reset </button>
            </form>

            <form action="/desktop/parked" method="post">
                <button id="add_new"> Add new </button>
            </form>
        </div>


        <div id="parked">
            <ul>
                {% for car in parked %}
                <li>
                    {{ car['license'] }} - {{ car['parked'] }} - {{ car['place_id'] }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</body>
</html>