<!DOCTYPE html>

{% set css_file = url_for('static', filename='main.css') %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ css_file }}">
    <title>{% block title %} {% endblock %}</title>

</head>
<body>

    <div id="container">
    <div id="header">
        <div id="title">
            Parking Simulation 5000DX
        </div>
        <div id="counter">
            Parked right now: {{ no_parked }}
        </div>
    </div>

    <ul>
        {% for car in parked %}
        <li>
            {{ loop.counter }} - {{ car['license'] }} - {{ car['parked'] }} - {{ car['place_id'] }}
        </li>
        {% endfor %}
    </ul>
    </div>
</body>
</html>